body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  font-size: 28px;
}

#column{
  font-weight: bold;
  border-bottom: 3px solid black;
}

table{
  text-align: center;
  width: 100%;
  padding: 10px 20px;
}

th{
  border-bottom: 2px black solid;
  padding: 10px;
  font-size: 17px;
}

td{
  font-size: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.ph{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: black 2px solid;
  box-shadow: 3px 3px 10px 8px #888888;
  border-radius: 5px;
}

.add-btn{
  text-decoration: none;
  border: 2px black solid;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(181, 214, 193);
}

.top{
  margin-top: 50px;
  margin-bottom: 50px;
}

.add-btn:visited{
  color:black;
}

.add-btn:hover{
  background-color: rgb(155, 193, 169);
}

.buts{
  display: inline-flex;
}

.update-btn{
  text-decoration: none;
  border: 1px black solid;
  padding: 1px 5px;
  border-radius: 7px;
  background-color: lightgreen;
  color:black;
  margin-right: 5px;
}

.delete-btn{
  text-decoration: none;
  font-size: 17px;
  border: 1px black solid;
  padding: 1px 5px;
  border-radius: 7px;
  background-color: lightcoral;
  color:black;
  margin-right: 5px;
}

.delete-btn:hover{
  background-color: rgb(178, 84, 84);
  cursor: pointer;
}

.update-btn:visited{
  color:black;
}

.update-btn:hover{
  background-color: rgb(107, 180, 107);
}